*{
    margin: 0;
    padding: 0;
}

body {
    font-family: YuGothic;
    /*background-color: #cff;*/
    font-size: 14px;
}

header {
    height: auto;
    background-repeat: repeat;
    background-image: url(images/colorful.jpg);
    background-size: 70px 70px;
}


#logo img{
    width: 40%;
    max-width: 300px;
    /*border: 5px solid #ffc;
    border-radius: 10%;*/
}



#logo p font{
    white-space: pre;
    letter-spacing: 0.3em;
    font-size: 5vw;
    color: #3cf;
    margin-left: 40px;
}

.container {
    /*width: 80%;*/
    background-color: #fff;
    position: relative;
}

nav{
    width: 100%;
}

nav ul li {
    display: inline-block;
    width: 20%;
    text-align: center;
    /*border: dotted 2px #999;
    border-radius: 10%;*/
    overflow: scroll;
}

nav ul li a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    font-size: 3vw;
}

nav ul li a:hover{
    background-color: #008;
}

.git{
    background: green;
    margin: 0 -2px;
}

.twit{
    background: skyblue;
    margin: 0 -2px;
}

.fb{
    background: blue;
    margin: 0 -2px;
}

.hatena{
    background: red;
    margin-right: -2px;
}

.insta{
    background: #ffd700;
    margin: 0 -2px;
}

section{
    padding: 20px 40px 100px 40px;
    
}

.topnavi{
    float: left;
    width: 60%;
}

.topnavicolum{
    display: inline;
    width: 40%;
    max-width: 250px;
    float: left;
    margin-right: 30px;
    border: 1px #999 solid;
}

.topnavicolum img{
    width: 100%;
}

.topnavi h2{
    background: #0aa;
    padding: 10px 20px;
    white-space: pre;
    text-align: center;
    font-size: 2.5vw;
    font-weight: lighter;
}


.topnavi a{
    text-decoration: none;
    color: #fff;
}

.profile{
    float: right;
    width: 40%;
}

h3 {
    color: #aaa;
    margin: 20px 0;
    padding: 0 0 0 30px;
    border-bottom: solid #9fc;
}



footer{
    /*display: inline;*/
    position: absolute;
    bottom: -250px;
    height: 25px;
    padding: 20px 0;
    width: 100%;
    font-size: 93%;
    text-align: center;
    background-color: #eee;
    color: #666;
}

footer #sub{
    height: 25px;
    padding: 20px 0;
    width: 100%;
    font-size: 93%;
    text-align: center;
    background-color: #eee;
    color: #666;
}