*{
    margin: 0;
    padding: 0;
}

body {
    font-family: YuGothic;
    /*background-color: #cff;*/
    font-size: 14px;
}

header {
    height: auto;
 	/*background-color: #666;*/
    background-repeat: repeat;
    background-image: url(images/colorful.jpg);
    background-size: 70px 70px;
}

#sub font{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    color: #0aa;
}

/*メニュー部分*/
#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内部上下左右余白*/
    position: fixed;
    right: -300px; /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 300px; /*メニュー横幅①*/
    z-index: 1000;
}

#ham-menu a{
	text-decoration: none;
	color: #555;
	font-size: 20px;
	line-height: 40px;
}

#ham-menu a:hover{
	color: #aaa;
}

/*メニューアイコン部分は疑似要素で*/
#ham-menu::before {
    background-color: #fff; /*ボタン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    content: "≡"; /*メニューアイコン*/
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px;
    line-height: 50px; /*縦位置中央化*/
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 50px;
}

/*透過背景部分*/
#menu-background {
    background-color: #333; /*黒背景部分背景色*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
    z-index: -1;
}

/*hover 時の処理*/
#ham-menu:hover {
    transform: translate(-300px); /*メニュー横幅①と合わせる*/
}

#ham-menu:hover + #menu-background {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
}

#sub .twitter-follow-button{
	margin-left: 10px;
}

section{
    padding: 20px;
    float: left;
    width: 60%;
}

section ul{
	margin-left: 20px;
}

h2 {
    color: #aaa;
    margin: 20px 0;
    padding: 0 0 0 30px;
    border-bottom: solid #9fc;
}


/*section #title{
	margin-left: 20px;

}*/

section h4 {
	font-size: 1.5em;
	color: #fff;
	background-color: #0aa;
	padding: 10px 20px;
	
}

#title p{
	background-color: #eee;
	color: #0aa;
	padding-left: 20px;
}

#work-content{
	margin: 10px;
}

section img{
	width: 100%;
}

#video-container {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

#video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*iframe {
	overflow: scroll;
}*/

.side{
	float: right;
	width: 30%;
	margin: 20px 3% 0 0;
	border: 2px solid #9fc;
}

footer{
	float: left;
    height: 25px;
    padding: 20px 0;
    width: 100%;
    font-size: 93%;
    text-align: center;
    background-color: #eee;
    color: #666;
}